
{
"env": {
"browser": true
},
"parserOptions": {
"ecmaVersion": 6,
"sourceType": "module"
},
"extends": "eslint:recommended",
"globals": {
"data": false, "INJURIES": false
},
"rules": {
"no-console": 0,
"semi": 2,
}
}
